.header{
    display: flex;
    height: 90px; 
    width: 100%;
}

.icon{

    margin-left: 30px;
    margin-top: 15px;
    text-align: center;
    height: 60px;
    width: 60px;
    
}

.headerbtns{
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
    width: 100%;
    align-content: space-between;

}

.btnDiv1{
    width: 50%;
    display: inline-block;
}

.btnDiv2{
    width: 300px;
    display: inline-block;

}

.headerbtns{
    margin-top: 15px;
    margin-right: 25px;
    width: 100%;
    justify-content: space-between;

}

.btnsHeader{
    font-family: 'Montserrat', sans-serif;

    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border-style: none;
    color: black;
    font-size: 1.3rem;
    height: 60px;
    width: 120px;
    transition: color .3s;
}

.btnsHeader:hover{
    color: rgb(161, 161, 161);
    transition: color .3s;
}