.container {
  width: 100%; 
  height: 97%;
  padding: 2%;
  align-items: center;
  justify-content: center;
   border-radius: 10px;
  border-top: 6px solid rgba(255, 255, 255, 0.658);
  border-left: 6px solid rgba(255, 255, 255, 0.658);
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.258);
  gap: 10%;
}

.containerCentro {
  width: 98%;
   margin: 1% auto;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.658);
}


.containerProduct{
   margin: 1% auto;
   width: 98%;
  height: 45%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:1%;
  gap: 1%;
  margin-bottom: -50%;
}

.containerBotones{
  margin: 1% auto;
   width: 98%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 2.5%;
}


.title {
  font-family: "Suranna", serif;
  font-size: 1.5em;
}

.Button{
  background: none;
  border-radius: 10px;
  color: blanchedalmond;
  padding: 2%;
  cursor: pointer;
font-weight: 600;
}



.containerModal{
   background: url("../../../../img/kitchenPage.jpg") center/cover;
  width: 50%;
  height: 60%;
margin: 10% auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}


.close{
    position: absolute;
    cursor: pointer;
    margin-top: -35%;
    margin-left: 75%;
    background-color: white;
}