
.mainContainer{
 text-align: center;
}

.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    z-index: 9;
    color: white;
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    left: 0; 
    right: 0;
    width: 450px; 
    margin-top: 13%;
}

.title{
    font-size: 6rem;
    font-family: 'Suranna', serif;
}

.line{
    width: 96%;
    background-color: white;
    height: 2px;
}

.subtitle{
    font-size: 1.6rem;
    font-family: 'Montserrat';
    margin-top: 10px; 
}

.carousel{
    text-align: center;
}

.img{
    width:100%;
    height:847px;
    vertical-align: middle;
}


.modal{
    width: 900px;
    height: 390px;
    position: relative;
    background-color: rgb(240, 239, 239);
    padding-top: 40px;
}

.modal2{
    width: 900px;
    height: 300px;
    position: relative;
    background-color: rgb(240, 239, 239);
    padding-top: 40px;
}

.cross{
    position: absolute;
    margin-left: 830px;
    cursor: pointer;
}
