.carousel{
    text-align: center;
}

.img{
    width:100%;
    height:847px;
    vertical-align: middle;
}


.header{
    display: flex;
    height: 90px; 
    width: 100%;
}

.icon{

    margin-left: 30px;
    margin-top: 15px;
    text-align: center;
    height: 60px;
    width: 60px;
    
}

.headerbtns{
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
    width: 100%;
    align-content: space-between;

}

.btnDiv1{

    width: 700px;
    display: inline-block;

}

.btnDiv2{

    width: 300px;
    display: inline-block;

}

.headerbtns{
    margin-top: 15px;
    margin-right: 25px;
    width: 100%;
    justify-content: space-between;

}

.btnsHeader{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border-style: none;
    color: black;
    font-size: 1.3rem;
    height: 60px;
    width: 120px;
}

.modal{
    width: 900px;
    height: 390px;
    position: relative;
    background-color: rgb(240, 239, 239);
    padding-top: 40px;
}

.modal2{
    width: 900px;
    height: 300px;
    position: relative;
    background-color: rgb(240, 239, 239);
    padding-top: 40px;
}

.MyClassEnterActive {
    opacity: 0;
    transform: translate(0px, 10px);
    transition: transform .5s, opacity .4s linear;
  }
  .MyClassEnterDone {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: transform .5s, opacity .4s linear;
  }
  