
.mainContainer{
 text-align: center;
 height: 90.5vh;
}

.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 96%;
    z-index: 9;
    color: white;
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    left: 0; 
    right: 0;
background-color: rgba(7, 6, 6, 0.522);
}

.title{
    font-size: 6rem;
    font-family: 'Suranna', serif;
    color: white;
margin-top:10%;
}

.line{
    width: 96%;
    background-color: white;
    height: 2px;
}

.subtitle{
    font-size: 1.6rem;
    font-family: 'Montserrat';
    margin-top: 10px; 
}

.carousel{
    text-align: center;
}

.img{
    width:100%;
    height:847px;
    vertical-align: middle;
}
