.container{
   width: 95%;
    height: 89vh;
    margin: -2px auto;
    background: url("../../img/landing3.jpg")center/cover;
    border-radius:  15px;
    display: flex;
}

.containerCentro{
    margin: 0px auto;
    margin-top: .5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
height: 87vh;
 border-radius:  15px;
   background-color: rgba(7, 6, 6, 0.622);
}

.MyClassEnterActive {
    opacity: 0;
    transform: translate(0px, 10px);
    transition: transform .5s, opacity .4s linear;
  }
  
.MyClassEnterDone {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: transform .5s, opacity .4s linear;
}
  