.container{
    background-color: rgb(240, 239, 239);
    width: 50vw;
    min-height: 300px;
    position: relative;
    display: flex;
    justify-content:space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.close{
    position: absolute;
    margin-left: 830px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 92%;
}

.divDerecha{
    width: 55%;
} 

.imagen{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.info{
    width: 400px;
    margin-top: 40px;
}

.name{
    font-size: 2.5rem;
    font-family: 'Suranna', serif;
}


.description{
    margin-top: 20px;
    background-color: #F7F7F7;
    font-size: 1.1rem;
    padding: 20px;
    width: 95%;
    font-family: 'Montserrat';
}

.icons{
    display: flex;
    background-color: #F7F7F7;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    gap: 20px;
    justify-content: space-evenly;
}

.price{    
    font-size: 1.1rem;
    font-family: 'Montserrat';
    padding-top: 3px;
}

.btnAdd{
    font-size: 1.1rem;
    font-family: 'Montserrat';
    border: none;
    background-color: rgb(209, 209, 209);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    transition: background-color .5s;
}

.btnAdd:hover{
    background-color: rgb(187, 186, 186);
    transition: background-color .5s;
}


.MyClassEnterActive {
    opacity: 0;
    transform: translate(0px, 10px);
    transition: transform .5s, opacity .4s linear;
  }
  
.MyClassEnterDone {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: transform .5s, opacity .4s linear;
}

@media (max-width: 768px) {
    .container{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content:start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.divDerecha{
    width: 100%;
    margin: 0 auto;
} 

.imagen{
    margin-top: 10px;
}

.info{
    width: 100%;
    margin-top: 10px;
}

.name{
    font-size: 1.5rem;
    font-weight: bold;
}


.description{
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
}

.icons{
    margin-top: 10px;
    gap: 10px;
}

.price{    
    font-size: 1rem;
    padding-top: 3px;
    font-weight: 600;
}

.btnAdd{
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

}