.container{
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: white;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: 'Montserrat';
    width: 45vw;
}
 
.title{
    width: 100%;
    font-family: 'Suranna', serif;
    font-weight: lighter;
    color: black;
    font-size: 3rem;
    text-align: center;
    
}

.inputs{
    text-align: center;
    margin-top: 50px;
}

.inputDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.input{
    border: none;
    background-color: rgb(194, 193, 193);
    height: 1.9rem;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.inputFile{
    border: none;
    background-color: rgb(194, 193, 193);
    height: 1.9rem;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    padding-top: .2rem;
}

.inputDivDescription{
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    height: 20%;
}

.PicturInput{
  display: none;
}

.picture{
  position: relative;
  width: 24%;
  height: auto;
  margin: 0 auto;
  margin-top: 5%;
}

.inputDescription{
    border: none;
    background-color: rgb(194, 193, 193);
    height: 5rem;
    width: 100%;
    padding-left: .5rem;
    outline: none;
    resize: none;
}

.btnRegister{
    border: none;
    background-color: rgb(194, 193, 193);
    height: 1.9rem;
    width: 45%;
    margin-top: 1.2rem;
    cursor: pointer;

}

.btnRegisterError{
    margin-top: 1.2rem;
    border: none;
    background-color: rgb(230, 228, 228);
    height: 1.9rem;
    width: 45%;
    color: rgb(113, 113, 114);
    pointer-events: auto! important;
    cursor: not-allowed! important;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}