
.btnCart{
    margin-bottom: 2rem;
    height: 8vh;
    width: 12vw;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.2rem;
    border:none;
    background-color: rgb(184, 183, 183);
    transition: background-color .5s;
}

.btnCartError{
    margin-bottom: 2rem;
    height: 8vh;
    width: 12vw;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.2rem;
    border:none;
    background-color: rgb(184, 183, 183);
    transition: background-color .5s;
    cursor: not-allowed! important;
}
  