
.container{
    margin-top: 1.5rem;
    width: 20vw;
    min-height: 10vh;
    background-color: gray;
    border-radius: 7px;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (max-width: 768px) {
    
.container{
    margin-top: 1rem;
    width: 90%;
    min-height: 10vh;
}

  
}