.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }

  .containerEmpty{
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  
  
  .rightDiv{
    display: flex;
    flex-direction: column;
    align-items: center;       
  }
  
  .btnCart{
    height: 8vh;
    width: 12vw;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.2rem;
    border:none;
    background-color: rgb(184, 183, 183);
    transition: background-color .5s;
  }
  
  .btnCart:hover{
    background-color: rgb(163, 163, 163);
    transition: background-color .5s;
  }
  
  .tooltip{
    white-space:pre-wrap;
    font-family: 'Montserrat';
    width: 10vw;
  }
  
  @media(max-width:768px){
    .container{
   flex-direction: column;
   margin: 5px 2px 0 10px;
   width: 95%;
  }
  
  .containerEmpty{
    flex-direction: column;
    margin: 5px 2px 0 10px;
    width: 95%;
  }
  
  
  .rightDiv{
    display: flex;
    flex-direction: column;
    align-items: center;       
    width: 95%;
  }
  
  
  
  }