.cardContainer {
    width: 100%;
    height: 100%;
    color: white; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;
    cursor: pointer;
}

.line {
    background-color: white;
    height: 3px;
    width: 20%;
    margin-bottom: 1rem;
}

.cardContainer h4:hover {
    opacity: 0.5;
}

.Image{
    width: 100px;
    height: 100px;
}
